body {
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0px !important;
  margin: 0px !important;
}
img {
  width: 100%;
}
.img-2 {
 object-fit: cover;
 object-position: center;
 width: 100%;
 height: 100%;
}
a {
  text-decoration: none;
}

.container-60px{
  padding-inline:  4% !important;
}
 .line{
  width: 100%;
  height: 1px;
  background-color: #dadee2;
 }
/* ================ bg  ================ */
.bg-1{
  background-color: #FD3E2B;
}
.bg-2{
  background-color: #FFFBEB;
}
.bg-3{
  background-color: #DBFCE7;
}
.bg-4{
  background-color: #DBEAFE;
}
.bg-5{
  background-color: #FFEDD4;
}
.bg-6{
 background-color:#FF6900;
}
.bg-7{
  background-color: #F9FAFB;
}
.bg-8{
  background-color: #FEF9C2;
}
.bg-9{
  background-color: #DBEAFE;
}
.bg-10{
  background-color: #FFE2E2;
}
.bg-11{
  background-color: #DBFCE7;
}
.bg-12{
  background-color: #E17100;
}
/* =============== color ============ */
.color-1{
  color:#FF6900;
}
.color-2{
  color: #FB2C36;
}
.color-3{
  color: #2B7FFF;
}
.color-4{
  color: #168E48;
}
.color-5{
  color: #2A59E9;
}
.color-6{
  color: #6c778a;
}
.color-7{
  color: #D08700;
}
.color-8{
  color: #155DFC;
}
.color-9{
  color: #E60076;
}
.color-10{
  color: #FDC700;
}
/* ===========  fs ======== */
.fs-24px{
  font-size: 24px;
}
.fs-12px{
  font-size: 12px;
}
.fs-14px{
  font-size: 14px;
}
/* =============== w  ========== */
.w-50px{
  width: 50px;
}
.w-90{
  width: 80%;
}
.w-30px{
  width: 30px;
}

/* ==============  h  ========= */

.h-30px{
  height: 30px;
}
.h-50px{
  height: 50px;
}
.h-350px{
  height: 350px;
}
.h-750px{
  height: 750px;
}
/* ================ border  ========== */
.b-1{
  border: 2px solid #FD3E2B;
}

/*   =============== hover =========== */
.hover-1:hover{
color: #FD3E2B;
}
.hover-2:hover{
  background-color: #FFD6A7;
}
/* =====================  position  ========= */

.pos-1{
position: absolute;
bottom: 25px;
left: 25px;
right: 25px;
}

.but-1{
  padding-inline: 30px !important;
  padding-block: 15px !important;
  background-image: linear-gradient(90deg , #FF6500 , #FB3035) !important;
  transition: all 0.5s;
}
.but-1:hover{
  background-image: linear-gradient(90deg ,#F44500, #E90006) !important;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*  ===============  box shsdow  ======== */

.box-sh-1{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/* ============  border  ======= */

.bor-1{
  border-left: 5px solid #FFB900;
}


